# build output
dist/
.vercel/
vercel.json
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# static assets
public/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# cursor rules folder
.cursor/
